.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 5px;
    /* border-color: transparent; */
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    outline: none !important;
    box-shadow: none !important;
    font-weight: bold;
}

.Button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #d26008 !important;
}

.Button:active {
    background-color: #1D2228 !important;
}

.Button:focus {
    background-color: #1D2228;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Orange {
    background-color: #1D2228;
    color: #FB8122;
}

.Orange:hover {
    /* border: 2px solid #FB8122; */
    background-color: #1D2228;
    color: #FB8122;
}

.Publish {
    color: red;
    background-color: #E1E2E2;
    border: 2px solid red;
}

.Publish:hover {
    color: #E1E2E2;
    background-color: red;
    border: 2px solid red;
}