.Form {
  border: none;
  border-bottom: 2px #d26008 solid;
}
/* 
.Button {
  background-color: #1D2228;
  color: #d26008;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #d26008;
  color: #e2e2e2;
}
 */
