.NavBar {
    background-color: #E1E2E2;
    border: 2px solid #1D2228;
    font-weight: bold;
}

.NavLink {
    padding-left: 1px;
    padding-right: 6px;
    border-radius: 5px;
}

.NavDropDown {
    margin-top: 2px;
    padding-left: 1px;
    padding-right: 6px;
    border-radius: 5px;
}

.Active {
    color: #FB8122;
    background-color: #1D2228;
}

.Active i {
    color: #FB8122;
}
