.Post {
    background-color: #E1E2E2;
    border: 1px solid #1D2228;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Title {
    font-size: x-large;
    font-weight: bold;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Thumb {
    color: #1D2228;
}

.ThumbSolid {
    color: #FB8122;
}

.Thumb:hover {
    color: #FB8122;
}

.ThumbOutline:hover {
    color: #FB8122;
}

.UnPublished {
    color: red;
    font-weight: bold;
    font-size: large;
}

.SmallerFont {
    font-size: smaller;
}

.ExtraMargin {
    margin-right: 15px;
}

