.App {
    font-family: 'Shippori Antique B1', sans-serif;
    background-color: #1D2228;
    min-height: 100vh;
    color: #FB8122;
}

.Main {
    padding-top: 100px;
}

.Content {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid black;
}

.FormImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

* {
    box-sizing: border-box;
}

a {
    color: #4d5a6c;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #FB8122;
    text-decoration: none;
}

a:hover i {
    color: #FB8122;
    transition: color ease-in-out 0.3s;
}

i {
    color: #626262;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #FB8122;
}

p {
    color: #1D2228;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

